.DS_Store
attention_graphs
cache_dir
saved_results*
.ipynb_checkpoints
*.pyc
dpo_outputs
.venv
.vscode/launch.json
dataset
.cache
tmp*
.python-version
fho_narration_df_rows.json
narration_mapping_fho2srl_df.csv
ego4d_mismatch_srl_files
config.yml
wandb
mprof*.pdf
mprofile_*.dat
TRAVEl_cache_dir/
*.out
temp*